header{
    background-image: url(https://wallpaperaccess.com/full/1454449.jpg);
    background-size: cover;
    padding-bottom:300px;
}
body{
    background: #2E2E2E;
}
.container{
    background: #DCDBDF;
    border: 2px solid black;
}
.main-header{
    font-family: 'Nosifer', cursive;
    font-size: 100px;
    text-align:center;
}
.tagline{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight:bold;
    text-align: center;
}