header{
    background-image: url(https://wallpaperaccess.com/full/1454449.jpg);
    background-size: cover;
    padding-bottom:300px;
}
body{
    background: #2E2E2E;
}
.main-header{
    font-family: 'Creepster', cursive;
    font-size: 100px;
    text-align:center;
    border: 3px solid black;
    background: #DCDBDF;
}